APP_NAME=Phenix
APP_KEY=
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1
APP_PORT=1337

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=phenix
DB_USERNAME=root
DB_PASSWORD=secret

LOG_CHANNEL=stream

CACHE_STORE=redis
RATE_LIMIT_STORE="${CACHE_STORE}"

QUEUE_DRIVER=redis

CORS_ORIGIN=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=null

SESSION_DRIVER=redis

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="Example"
